---

---

<div class="flex justify-center lg:justify-start pt-4">
    <a href="https://apps.apple.com/us/app/baito/id6744564274" target="_blank">
        <button class="bg-[#6944F0] hover:bg-[#5A3BC7] text-white px-8 py-4 rounded-2xl font-semibold text-lg transition-all duration-200 hover:scale-[1.02] hover:shadow-xl">
        Download on the App Store
        </button>
    </a>
  </div>